<% @answers.each do |answer| %>
  <p><%=answer.user.email %>:


  <%=answer.content %></p>

  <% if author?(answer)%>
    <%=link_to "Edit Answer", edit_question_answer_path(@question, answer) %>
    <%=link_to 'delete answer', [@question, answer], method: :delete, data: {confirm: 'Sure about that?'}%>
    <%else%>
    method no worky
  <%end%>
<%end%>

<section class = "answer-form">
  <%=render 'answers/form' %>
</section>
