<!DOCTYPE html>
<html>
<head>
  <title>LoveStack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
      <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("s3yyXRvcaguEEuH7xYDfMa2VA0xxFel9");
  analytics.page();
  }}();
</script>
</head>
<body>
<script>
<%if !!current_user%>
analytics.identify('<%=j current_user.email%>', {
    email: '<%=j current_user.email%>'
  })
<%end%>
</script>

  <header>
    <nav>
      <ul>
      	<li> <%= link_to "LoveStack", '/' %> </li>
        <li> <%=link_to "Tags", tags_path %> </li>
         <% if current_user %>
          <li> <%= link_to "#{current_user.email}", "/users/#{current_user.id}" %></li>
          <li> <%= link_to "Log Out", "/sessions/#{current_user.id}", method: :delete %> </li>
          <% else %>
          <li><%= link_to "Log In", "/sessions/new" %></li>

          <li><%= link_to "Join LoveStack", "/users/new" %></li>
          <% end %>
      </ul>
    </nav>
  </header>
  <% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
  <%end%>
  
  <main>
    <%= yield %>
  </main>

</body>
</html>
